.pixel {
  /*outline: pink 1px solid;*/
}

.pixel {
  width:  5px;
  height: 5px;
  margin: 0;
  display: inline-block;
  float: left;
  /*border-radius: 50%;*/
  /*background: 'rgba(255, 0, 0, 0.5);'*/
}
