/*body * {
  outline: red 1px solid;
}*/

.matrix {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 50px auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}


.pixel {
  height: 15px; /* This must be width / num of pixels, currently 750/50 = 15 */
  flex-grow: 1;
  margin: 0;
  border-radius: 50%;
}

.pixel:hover {
  outline: 4px solid aqua;
}
